﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/FacilityAdmin.css" />

<div class="nav-side-menu">
    <i class="fa fa-bars fa-1x toggle-btn" data-toggle="collapse" data-target="#sidebar"></i>
    <div class="menu-list">
        <div class="brand">Administrator</div>
        <ul id="sidebar" class="menu-content collapse">
            @Html.Partial("_AdminSidebarPartial") 
        </ul>
    </div>
</div>
<div class="container-fluid col-md-12" style="background-color:#e5e5e5; height:25px; border-radius: 2px; padding-top:3px; margin-top: 10px; margin-right: 20px; margin-bottom: 10px; max-width:978px;"><p style="text-align:left; font-size: 12px; color: black;">@Html.ActionLink("Admin", "SiteAdminIndex", "SiteAdmin") > @ViewBag.Title</div>
<div class="container-fluid">
    @RenderBody()
</div>

@RenderSection("scripts", required: false)

