﻿@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/FacilityAdmin.css" />

<div class="nav-side-menu">
    <i class="fa fa-bars fa-1x toggle-btn" data-toggle="collapse" data-target="#sidebar"></i>
    <div class="menu-list">
@if (User.IsInRole("Admin"))
{
    <div class="brand">Administrator</div>
}
@if (User.IsInRole("Facility"))
{
    <div class="brand">@Session["CurrentFacilityName"]</div>
}
        <ul id="sidebar" class="menu-content collapse out">
            @if (User.IsInRole("Admin"))
            {
                @Html.Partial("_AdminSidebarPartial")
            }
@if (User.IsInRole("Admin"))
{
    <div class="brand">@Session["CurrentFacilityName"]</div>
}
            @Html.Partial("_FacilitySidebarPartial") 
        </ul>
    </div>
    </div>
@if (User.IsInRole("Admin"))
{
    <div class="container-fluid col-md-12" style="background-color:#e5e5e5; height:25px; border-radius: 2px; padding-top:3px; margin-top: 10px; margin-right: 20px; margin-bottom: 10px; max-width:978px;"><p style="text-align:left; font-size: 12px; color: black;">@Html.ActionLink("Admin", "SiteAdminIndex", "SiteAdmin") > @Html.ActionLink(Session["CurrentFacilityName"].ToString(), "FacilityInfoIndex", "FacilityInfo", new { id = Session["CurrentFacilityId"] }, null) > @ViewBag.Title</div>
}
else
{
    <div class="container-fluid col-md-12" style="background-color:#e5e5e5; height:25px; border-radius: 2px; padding-top:3px; margin-top: 10px; margin-right: 20px; margin-bottom: 10px; max-width:978px;"><p style="text-align:left; font-size: 12px; color: black;">@Html.ActionLink(Session["CurrentFacilityName"].ToString(), "FacilityInfoIndex", "FacilityInfo") > @ViewBag.Title</div>
}
    
    <div class="container-fluid">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)

<footer class="footer">
    <div class="container text-center">
        <p class="text-muted credit small">
            <b>Waranty for child care providers</b>
            <br />
            By using this website I agree that the information I provide is accurate. I also agree to update the information regularly when new information becomes available to me.
        </p>
    </div>

</footer>