﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderBody()


<footer class="footer">
    <div class="container text-center">
        <p class="text-muted credit small">
            <b>Disclaimer</b>
            <br />
            Waitlist Transparancy 
            only provides access to information regarding 
            the availability of licensed child care providers in your community.
            We do not endorse or recommend any individual provider. 
            We rely on the information given by the providers and assume no liability 
            for the accuracy of the information on the website. You are encouraged to 
            contact the individual provider to confirm availiability.
        </p>
    </div>

</footer>