﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Images/favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Waitlist Transparency</title>    

    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link href="~/Content/homepage/css/creative.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/sidebar.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />   

    <script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js" integrity="sha256-55Jz3pBCF8z9jBO1qQ7cIf0L+neuPTD1u7Ytzrp2dqo=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.43/jquery.form-validator.min.js"></script>
    
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href='@Url.Action("Index", "Home")'><img src="~/Images/wtnewlogo364x40.png" width="300" alt="Waitlist Transparency" /></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar1">

                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="@Url.Action("Index","Home")#about">ABOUT</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="@Url.Action("Index","Home")#faq">FAQ</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="@Url.Action("Index","Home")#contact">CONTACT</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SearchIndex","Search")" id="searchLink">SEARCH</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>

        @RenderBody()
        <script>
            $('form').find('input[type=text],textarea,select').filter(':visible:first').focus();
        </script>

</body>
</html>
