﻿@model WTSite.Models.RoomVM
@{
    Layout = null;
}
<style type="text/css">
    body {
        font-family: Calibri,Arial,sans-serif;
    }

    h2 {
        color: rgb(42, 71, 99);
    }

    table {
        border: 1px solid black;
        border-spacing: 0;
    }

    td {
        color: black;
        font-size: 10pt;
        padding: 5px;
        text-align: center;
    }

    .heading {
        background: #bababa;
        font-weight: bold;
        text-align: center;
    }
</style>

<h2>Room Information</h2>
<table>
    <tr class="heading">
        <td>Room Name</td>
        <td>Age Min</td>
        <td>Age Max</td>
        <td>Capacity</td>
        <td>Wailitst Override Date</td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Room.room_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Room.room_age_range_min)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Room.room_age_range_max)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Room.room_capacity)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.WaitlistOverrideDate))
        </td>
    </tr>
</table>

<h2>Roster</h2>
<table>
    <tr class="heading">
        <th>Child Name/Identifier</th>
        <th>Date of Birth</th>
        <th>Override Leave Date</th>
        <th>Date Added</th>
        <th>Comments</th>
    </tr>
    @for (var i = 0; i < Model.RosterChildren.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.RosterChildren[i].ChildName)
            </td>
            <td>
                @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.RosterChildren[i].DOB))
            </td>
            <td>
                @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.RosterChildren[i].OverrideDate))
            </td>
            <td>
                @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.RosterChildren[i].DateAdded))
            </td>
            <td>
                @Html.DisplayFor(m => m.RosterChildren[i].ChildComments)
            </td>

        </tr>
    }
</table>

<h2>Waitlist</h2>
<table>
    <tr class="heading">
        <th>Child Name/Identifier</th>
        <th>Date of Birth</th>
        <th>Date Added</th>
        <th>Comments</th>
        <th>Prioritizations</th>
        <th>EED</th>
    </tr>

    @{string abcd;}

    @for (var i = 0; i < Model.WaitlistChildren.Count; i++)
    {
        abcd = "";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.WaitlistChildren[i].ChildName)
            </td>
            <td>
                @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.WaitlistChildren[i].DOB))
            </td>
            <td>
                @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.WaitlistChildren[i].DateAdded))
            </td>
            <td>
                @Html.DisplayFor(m => m.WaitlistChildren[i].ChildComments)
            </td>
            <td>
                @{ string comma = "";}
                @for (var j = 0; j < Model.WaitlistChildren[i].Prioritizations.Count; j++)
                {
                    abcd += Model.WaitlistChildren[i].Prioritizations[j].priority_name;
                    @(j > 0 ? comma = "," : comma = "")
                    abcd += comma;
                }
                @abcd
            </td>
            <td>
                @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.WaitlistChildren[i].EED))
            </td>

        </tr>
                    }
</table>

<h2>Estimated Enrollment Dates</h2>
<table>
    <tr class="heading">
        <th>Prioritization Name</th>
        <th>Rank</th>
        <th>Estimated Enrollment Date</th>
    </tr>
    <tr>
        <td>Without Prioritizations</td>
        <td>None</td>
        <td>@Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.EEDWithoutPrioritization))</td>
    </tr>
    @for (var i = 0; i < Model.EEDsWithPrioritization.Count; i++)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => Model.EEDsWithPrioritization[i].Prioritization.priority_name)</td>
            <td>@Html.DisplayFor(modelItem => Model.EEDsWithPrioritization[i].Prioritization.priority_rank)</td>
            <td>@Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model.EEDsWithPrioritization[i].EED))</td>
        </tr>
    }
</table>