﻿@using WTSite.Models;
@model List<WTSite.Models.detail>

@{
    ViewBag.Title = "Create Detail Questions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Detail Question</h2>

@using (Html.BeginForm("AddDetailQuestion", "SiteAdmin", FormMethod.Post, new { id = "submitNewDetailQuestionForm" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th width="75px"><strong>Detail  Id</strong></th>
            <th><strong>Question</strong></th>
        </tr>

        @for (var i = 0; i < Model.Count - 1; i++)
        {
            <tr>
                <td width="75px" style="text-align: right;">
                    @Html.HiddenFor(modelItem => Model[i].detail_id)
                    @Html.HiddenFor(modelItem => Model[i].detail_name)
                    @Html.DisplayFor(modelItem => Model[i].detail_id)
                </td>
                <td>
                    @Html.EditorFor(modelItem => Model[i].detail_name, new { htmlAttributes = new { @class = "form-control input-sm", @style = "max-width:500px", @disabled="disabled" } })
                </td>
            </tr>
        }

        <tr>
            <td>Add New: </td>
            <td>
                @Html.EditorFor(modelItem => Model[Model.Count - 1].detail_name, new { htmlAttributes = new { @class = "form-control input-sm", @style = "max-width:500px", @maxlength = "199" } })
            </td>
        </tr>

    </table>

    <input type="submit" value="Save Changes" class="btn-sm btn-primary" />  @Html.ActionLink("Cancel", "MaintainDetailQuestions")
}