﻿body {
}

header {
    background-image: url(../img/SearchHeaderBackground.jpg);
    background-color: black;
}

button, input, optgroup, select, textarea {
    color: black;
}


inputs:-webkit-input-placeholder {
    color: #b5b5b5;
}

inputs-moz-placeholder {
    color: #b5b5b5;
}

.error{
    border-color:yellow;
}

.inputs {
    width: 270px;
    padding: 15px 25px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9D9E9E;
    text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

.inputs:focus {
    background: #DFE9EC;
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
    outline: 0;
}

.inputs:hover {
    background: #DFE9EC;
    color: #414848;
}


@media (min-width: 768px) {
    header {
        min-height: 95%;
    }
    .searchheader {
        min-height: 400px;
        max-height: 400px;
        height: 400px;

    }
    .result-eed
    {
        display:block;
        color:#314a62;
        padding:10px;
        background-color:transparent;
    }
}

@media (min-width: 992px) {
    /*.col-md-3{
        width:10%;
    }
    .col-md-4{
        width:40%;
    }
    .col-md-5{
        width:50%;
    }*/
}

.result-eed-row{
    border-bottom: 1px solid #bababa;
}


.eachresult{
    vertical-align: middle;
    display:inline;
}

section{
    padding: 10px;
}

.results-section{
    padding: 0px;
}

.results-container{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.redbg{
    background-color: maroon;
    color:white;
}
.greenbg{
    background-color: tan;
    color:black;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

input,label{
    display:inline;
}

.input-lg{
    color: black;
}

.input-group{
    display:inline-block;
}

.form-inline .input-group{
    height: 46px;
    line-height: 46px;
}

#map {
    width: 100%;
    min-height: 500px;
}

.fillmap
{
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
}
 
/*temporary placeholder to disable annoying validation text, shows red box only */
.help-block{
    display:none;
}