﻿@{
    ViewBag.Title = "Confirm Account";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h4>Account Confirmed</h4>
<div>
    <p>
        Thank you for confirming your account. Your facility is now pending approval. You will receive an email once your registration has been reviewed. Thank you!
    </p>
    <p>@Html.ActionLink("Return to Homepage", "Index", "Home")</p>
</div>
