﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<hgroup class="title">
    <h4>Password Reset</h4>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
