﻿@using WTSite.Models
@model List<FacilityDetail>

@{
    ViewBag.Title = "Registration Submitted";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<h4>Facility Registration Submitted</h4><hr />

<p><strong>You have successfully submitted your facility for approval.</strong> Please check your email and follow the instructions to confirm your account. (NOTE: If you can't find the email, check your Spam folder.)</p>
<p><em>Optional:</em> You may continue to fill out more details about your facility here. You can fill out these details at any time once your account is approved.</p>

<hr />

@*DEV - using newly generated facility id: @Session["NewId"] / @Model[0].FacilityID*@

@using (Html.BeginForm("EditDetails", "Account", FormMethod.Post, new { id = "RegisterFacilityDetailsForm" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <table class="table-condensed table-hover">
        <tr>
            <th class="col-md-3"><strong>Question</strong></th>
            <th class="col-md-1"><strong>Response</strong></th>
            <th class="col-md-8"><strong>Comments</strong></th>
        </tr>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <td style="vertical-align: middle; width: 10%;">
                    @Html.HiddenFor(modelItem => Model[i].FacilityID)
                    @Html.HiddenFor(modelItem => Model[i].DetailID)
                    @Html.DisplayFor(modelItem => Model[i].DetailName)
                </td>
                <td style="width: 5%;">
                    @if (Model[i].DetailYesNo == 1)
                    {
                        @Html.DropDownListFor(modelItem => Model[i].DetailYesNo, new[] {
                            new SelectListItem() {Text = "Yes", Value = "1", Selected = true},
                            new SelectListItem() {Text = "No", Value = "0", Selected = false },
                            new SelectListItem() {Text = "N/A", Value = "2", Selected = false }
                        }, new { @class = "form-control input-sm detailYesNoDDL", @style = "width: 70px" })
                    }
                    else if (Model[i].DetailYesNo == 0)
                    {
                        @Html.DropDownListFor(modelItem => Model[i].DetailYesNo, new[] {
                            new SelectListItem() {Text = "Yes", Value = "1", Selected = false },
                            new SelectListItem() {Text = "No", Value = "0", Selected = true },
                            new SelectListItem() {Text = "N/A", Value = "2", Selected = false }
                        }, new { @class = "form-control input-sm detailYesNoDDL", @style = "width: 70px" })
                    }
                    else if (Model[i].DetailYesNo == 2)
                    {
                        @Html.DropDownListFor(modelItem => Model[i].DetailYesNo, new[] {
                            new SelectListItem() {Text = "Yes", Value = "1", Selected = false },
                            new SelectListItem() {Text = "No", Value = "0", Selected = false },
                            new SelectListItem() {Text = "N/A", Value = "2", Selected = true }
                        }, new { @class = "form-control input-sm detailYesNoDDL", @style = "width: 70px" })
                    }
                </td>
                <td style="width: 85%;">
                    @Html.TextBoxFor(modelItem => Model[i].DetailComment, "", new { @class = "form-control input-sm detailCommentTxtBox", @style = "width: 1000px;" })
                </td>
            </tr>
        }
    </table>

    <input type="submit" value="Submit" class="btn btn-default" />
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.detailYesNoDDL').each(function () {
            var currentVal = $(this).val();
            if (currentVal == 2) {
                $(this).closest('td').next('td').find('.detailCommentTxtBox').prop('disabled', true);
            }
            else {
                $(this).closest('td').next('td').find('.detailCommentTxtBox').prop('disabled', false);
            }
        });
        $('.detailYesNoDDL').change(function () {
            var selectedValue = $(this).val();
                if (selectedValue == 2) {
                    var ok = window.confirm('By changing your response to N/A for this question, your comment will not be saved.');
                    if (ok == true)
                    {
                        $(this).closest('td').next('td').find('.detailCommentTxtBox').prop('disabled', true).val('');
                    }
                    else
                    {
                        $(this).val('--');
                    }
                }
                else
                {
                    $(this).closest('td').next('td').find('.detailCommentTxtBox').prop('disabled', false);
                }
            })
    });
</script>