﻿
@{
    ViewBag.Title = "Registration Submitted";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h4>Facility Registration Submitted</h4><hr/>

<p><strong>You have successfully submitted your facility for approval.</strong> Please check your email and follow the instructions to confirm your account. (NOTE: If you can't find the email, check your Spam or Junk folder.)</p>
<p>@Html.ActionLink("Return to Homepage","Index","Home")</p>