﻿@using WTSite.Models;
@model List<SearchResults>

@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_LayoutStandard.cshtml";
}
    <link rel="stylesheet" type="text/css" href="~/Content/homepage/css/search.css" />

    <header id="top" class="searchheader" style="min-height:600px; max-height:750px;">
        <div class="header-content">
            <div class="header-content-inner">
                @Html.Partial("SearchCriteriaPartial", (SearchResults)TempData["inputtedCriteria"])
            </div>
        </div>
    </header>
    <section class="bg-primary" id="search">
        <div class="results-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center" id="results">
                        Are you a licensed child care provider? Register your facility with us. <a href="@Url.Action("Register", "Account", routeValues: null)" class="btn btn-default btn-sm">GET STARTED</a>
                </div>
            </div>
        </div>
    </section>
    <section class="results-section">
        <div class="results-container">
            <div class="row">
                    <div class="col-md-6">
                        
                            @if (Model.Count == 0)
                            {
                                <p>Search returned no results.</p>
                            }
                            else
                            {
                                string mapsUrlString;
                                for (var i = 0; i < Model.Count; i++)
                                {
                                    mapsUrlString = "https://google.com/maps/dir//" + Model[i].Facility.address_line_1 + " " + Model[i].Facility.address_line_2 + " " + Model[i].Facility.city + ", " + Model[i].Facility.state + " " + Model[i].Facility.zip_code;
                                    <div class="row result-eed-row">
                                        <div class="col-md-5 result-eed">
                                            <h4><img src=@ViewBag.ResultMarkers[i] /> @Html.DisplayFor(modelItem => Model[i].Facility.childcare_facility_name)</h4>
                                            <p>
                                                @Html.DisplayFor(modelItem => Model[i].Facility.address_line_1) @Html.DisplayFor(modelItem => Model[i].Facility.address_line_2)<br />
                                                @Html.DisplayFor(modelItem => Model[i].Facility.city), @Html.DisplayFor(modelItem => Model[i].Facility.state) @Html.DisplayFor(modelItem => Model[i].Facility.zip_code)<br />
                                                @if (Model[i].Facility.phone_number != null)
                                                {
                                                    @*<strong>@Convert.ToInt64(Model[i].Facility.phone_number).ToString("(###)###-####")</strong>*@
                                                    <strong>@Model[i].Facility.phone_number</strong>
                                                }
                                            </p>
                                        </div>
                                        <div class="col-md-5 result-eed">
                                            <br /><h4>Estimated Enrollment Date<br /><strong>@Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model[i].EED))</strong></h4>
                                            @if (Model[i].Facility.prioritizations.Count() > 0 && Model[i].EEDsWithPrioritization != null)
                                            {
                                                <div class="listToToggle">
                                                    <button type="button" class="btn-xs btn-primary togglePri">Show Prioritizations</button>
                                                    <div class="priList" hidden="hidden">
                                                        @for (var j = 0; j < Model[i].EEDsWithPrioritization.Count; j++)
                                                        {
                                                            <br />
                                                            @Html.DisplayFor(modelItem => Model[i].EEDsWithPrioritization[j].Prioritization.priority_rank)<font>.</font> @Html.DisplayFor(modelItem => Model[i].EEDsWithPrioritization[j].Prioritization.priority_name) <br />
                                                            <strong>Est. Date:</strong> @Convert.ToString(string.Format("{0:MM/dd/yyyy}", Model[i].EEDsWithPrioritization[j].EED))<br />
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        <div class="col-md-2 result-eed">
                                            <br />
                                            <a href="@mapsUrlString" target="_blank"><i class="fa fa-4x fa-map-marker"></i></a><font>&nbsp;&nbsp;</font>
                                            @if(Model[i].Facility.website != null)
                                            {
                                                <a href="http://@Model[i].Facility.website" target="_blank"><i class="fa fa-4x fa-globe"></i></a>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                                    
                    </div>
                <div class="col-md-6 fillmap">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </section>
@*<div class="container-fluid">*@
                <!-- API Reference https://developers.google.com/maps/documentation/javascript/reference#MapOptions -->
                <script type="text/javascript">
                var geocoder;
                var map;
                var markerColor = '729EB3';
                var markerTextColor = 'FFFFFF';

                function initMap() {
                    geocoder = new google.maps.Geocoder();
                    var latlng = new google.maps.LatLng(61.190778, -149.818113); // UAA Coordinates
                    var mapOptions = {
                        zoom: 11,
                        center: latlng
                    }
                    map = new google.maps.Map(document.getElementById('map'), mapOptions);

                    var addresses = [];

                    @foreach (var item in Model)
        {
            @:addresses.push("@item.Facility.address_line_1" + "@item.Facility.address_line_2" + ", " + "@item.Facility.city" + ", " + "@item.Facility.state" + " " + "@item.Facility.zip_code");
                            }

                    console.log(addresses);

                    var a = 0;

                    var mapNumbers = [addresses.length];

                    for (var i = 0; i < addresses.length; i++) {
                        mapNumbers[i] = parseInt(i);
                        (function () {
                            var a = parseInt(i);
                            var address = addresses[i];
                            geocoder.geocode({ 'address': address }, function (results, status) {
                                if (status === google.maps.GeocoderStatus.OK) {
                                    map.setCenter(results[0].geometry.location);
                                    var marker = new google.maps.Marker({
                                        map: map,
                                        position: results[0].geometry.location,
                                        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + (mapNumbers[a] + 1) + '|' + markerColor + '|' + markerTextColor,
                                        title: (mapNumbers[a] + 1) // i dont think this works
                                    });
                                } else {
                                    //alert("Geocode was not successful for the following reason: " + status);
                                }
                            });
                        })();
                    }
                }
                </script>

                
            @*</div>*@

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqdmyfpwCKM_02OnJRBDAHGiW0q1isyZM&callback=initMap" async defer></script>

    <script>
        $(function () {
            window.location = '#results';
        });
        $('.togglePri').click(function () {
            $(this).next().slideToggle();
            $(this).html(function (i, v) { return v === 'Hide Prioritizations' ? 'Show Prioritizations' : 'Hide Prioritizations' });
            //$(this).html('hide');
        });
        //$('.togglePri').click(function () {
        //    $(this).html('hide');
        //});

    $(function() {
        $("[name=toggler]").click(function(){
                $('.toHide').hide();
                $("#block-"+$(this).val()).show();
        });
    });

    $.validate({
        modules : 'date, security, toggleDisabled',
        disabledFormFilter: 'form.toggle-disabled',
        showErrorDialogs : false
    });


    $("#cityDOB").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "-12:+4"
    });

    $("#zipDOB").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "-12:+4"
    });


    $("#citystatedobtooltip").tooltip();
    $("#zipdobtooltip").tooltip();

    $('#mainNav').removeClass('affix-top').addClass('affix');

    $('#CityStateSearchButton').click(function () {
        if ($('#SearchCriteria_City, #cityDOB').hasClass('error')) {
            $('.CitysearchErrMsg').show();
        }
        else {
            $('.CitysearchErrMsg').hide();
        }
    });

    $('#ZipSearchButton').click(function () {
        if ($('#SearchCriteria_ZipCode, #zipDOB').hasClass('error')) {
            $('.ZipsearchErrMsg').show();
        }
        else {
            $('.ZipsearchErrMsg').hide();
        }
    });

    </script>  

