﻿body {
}

    .navbar {
        position: relative;
        margin-bottom: 0px;
    }
    .container-fluid {
        margin-left: 225px;
        background-color: transparent;
    }   

@media (max-width: 767px){
    .container-fluid{
        margin-left: 0px;
        margin-top: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}