﻿﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 500px;
}

.container-fluid {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: -10px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: white;
  border-radius: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        border-radius:0;
    }
    .body-content {
        padding: 10px;
    }
    .navbar-right{
        margin-right: -15px;
        
    }   
}

/*mobile screen container*/
@media (max-width: 767px){
    .container-fluid{
        margin-top: -20px;
        margin-bottom: 0px;
        border-radius: 0px;
        padding-top: 5px;
        padding-bottom: 20px;
    }
    /*.navbar-inverse .navbar-brand img{
        
    }
    .navbar-inverse .navbar-nav > li > a  {
        color: white;
        background-color: #253E57;
    }
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
      color: #ffb130;
      background-color: black;
    }*/

.navbar {
        min-height: 35px;
        margin-bottom: 0px;
    }

    .navbar-brand > img {
        width: 228px;
        height: 25px;
        transition:all .2s;
    }
    .navbar-default .navbar-header .navbar-brand {
        padding-top:5px;
        max-height: 30px;
    }

    .navbar-toggle {
        height: 25px;
        width: 25px;
        padding: 0 0 0 0;
        margin: 4px 10px 0 0;
    }

    .navbar-toggle .icon-bar{
        width:18px;
        height:2px;
        margin-left: 3px;
    }

    .navbar-toggle .icon-bar+.icon-bar{
        margin-top: 3px;
    }
    
}


.navbar {
  position: relative;
  /*min-height: 40px;*/
  margin-bottom: 20px;
  /*border: 0px solid transparent;*/
}

.jumbotron
{
  background-image: url('/Images/cloudnav.jpg');
  color: white;
  text-shadow: 5px 5px 10px #333;
  text-align:center;
  font-size: 36px;
}



.navbar-inverse {
  background-color: #5E8AB5;
  opacity:1.0;
  /*border-bottom-color: #E7E7E7;*/
  height: 50px;
  box-sizing: border-box;
}

.navbar-inverse .navbar-brand {
  color: #FCFCFC;
  padding-top: 4px;
}

.navbar-inverse .navbar-text {
  color: #FCFCFC;
}
.navbar-inverse .navbar-nav > li > a  {
  color: white;
  -moz-transition: color .2s ease-in;
  -webkit-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
  height:50px;
  vertical-align:central;
  /*border-bottom: 2px solid transparent;*/
  /*text-shadow: 1px 1px #6F6F6F;*/
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: rgba(0,0,0,0.3);
    -moz-transition: background-color .2s ease-in;
  -webkit-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
  /*border-bottom: 2px solid #b9ff98;*/
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffb130;
  /*background-color: #494949;*/
  /*border-bottom: 2px solid #FCFCFc;*/
}


h1,
.h1 {
  font-size: 33px;
}
h2,
.h2 {
  font-size: 27px;
  color: #6F6F6F;
}
h3,
.h3 {
  font-size: 23px;
  color: #6F6F6F;
}
h4,
.h4 {
  font-size: 20px;
  color: #6F6F6F;
}
h5,
.h5{
    font-size:14px;
    color: #6F6F6F;
}
h6,
.h6{
    font-size:11px;
    color: #6F6F6F;
    font-weight:bold;
}

.bodytext {
    font-size: 16px;
    color: #6F6F6F;
}

table.formtable {
    border-collapse: collapse;
    border: 0px;
}

table.formtable td {
    padding: 5px;
}


.navbar{
    /*background-image: url("/Images/cloudnav2.jpg");*/
    background: -webkit-linear-gradient(#5E8AB5,#3b5d7e);
    background: -o-linear-gradient(#5E8AB5,#3b5d7e);
    background: -moz-linear-gradient(#5E8AB5,#3b5d7e);
    background: linear-gradient(#5E8AB5,#3b5d7e);
    padding-top: 0px;
}

body{
    background-color: #EDF6FF;
    
}

a
{
    color: #966718; 
    font-weight:bold;
}