﻿@using WTSite.Models
@model List<FacilityDetail>

@{
    ViewBag.Title = "Facility Details";
    Layout = "~/Views/Shared/_FacilityLayout.cshtml";
}
<h4>Facility Details</h4>
@using (Html.BeginForm("Edit", "FacilityDetails", FormMethod.Post, new { id = "submitChangesForFacilitiesDetailsForm" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <table class="table-condensed table-hover">
        <tr>
            <th class="col-md-3"><strong>Question</strong></th>
            <th class="col-md-1"><strong>Response</strong></th>
            <th class="col-md-8"><strong>Comments</strong></th>
        </tr>
        @for (var i = 0; i < Model.Count; i++)
        {
                <tr>
                    <td style="vertical-align: middle; width: 10%;">
                        @Html.HiddenFor(modelItem => Model[i].FacilityID)
                        @Html.HiddenFor(modelItem => Model[i].DetailID)
                        @Html.DisplayFor(modelItem => Model[i].DetailName)
                    </td>
                    <td style="width: 5%;">
                        @if (Model[i].DetailYesNo == 1)
                    {
                            @Html.DropDownListFor(modelItem => Model[i].DetailYesNo, new[] {
                            new SelectListItem() {Text = "Yes", Value = "1", Selected = true},
                            new SelectListItem() {Text = "No", Value = "0", Selected = false },
                            new SelectListItem() {Text = "N/A", Value = "2", Selected = false }
                        }, new { @class = "form-control input-sm detailYesNoDDL", @style = "width: 70px" })
                        }
                        else if (Model[i].DetailYesNo == 0)
                        {
                            @Html.DropDownListFor(modelItem => Model[i].DetailYesNo, new[] {
                            new SelectListItem() {Text = "Yes", Value = "1", Selected = false },
                            new SelectListItem() {Text = "No", Value = "0", Selected = true },
                            new SelectListItem() {Text = "N/A", Value = "2", Selected = false }
                        }, new { @class = "form-control input-sm detailYesNoDDL", @style = "width: 70px" })
                        }
                        else if (Model[i].DetailYesNo == 2)
                        {
                            @Html.DropDownListFor(modelItem => Model[i].DetailYesNo, new[] {
                            new SelectListItem() {Text = "Yes", Value = "1", Selected = false },
                            new SelectListItem() {Text = "No", Value = "0", Selected = false },
                            new SelectListItem() {Text = "N/A", Value = "2", Selected = true }
                        }, new { @class = "form-control input-sm detailYesNoDDL", @style = "width: 70px" })
                        }
                    </td>
                    <td style="width: 85%;">
                        @Html.TextBoxFor(modelItem => Model[i].DetailComment, "", new { @class = "form-control input-sm detailCommentTxtBox", @style = "width: 1000px;" })
                    </td>
                </tr>
        }
    </table>

    <input type="submit" value="Save Changes" class="btn-sm btn-primary" />
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //logic: 
        //on load and on detailYesNoDDL value change,
        //if detailYesNoDDL.value is 2, disable next element class detailCommentTxtBox.
        //to disable the box: $('.detailCommentTxtBox').prop('disabled', true)
        //to find current value of DDL $('.detailYesNoDDL').val();

        $('.detailYesNoDDL').each(function () {
            var currentVal = $(this).val();
            if (currentVal == 2) {
                $(this).closest('td').next('td').find('.detailCommentTxtBox').prop('disabled', true);
            }
            else {
                $(this).closest('td').next('td').find('.detailCommentTxtBox').prop('disabled', false);
            }
        });

        //var currentDDL = $('.detailYesNoDDL');
        //var ddlIndex = $('.detailYesNoDDL').val();
        //if (currentDDL.val(ddlIndex) = 0)
        //    $('.detailCommentTxtBox').next.prop('disabled', true);
        $('.detailYesNoDDL').change(function () {
            var selectedValue = $(this).val();
                if (selectedValue == 2) {
                    var ok = window.confirm('By changing your response to N/A for this question, your comment will not be saved.');
                    if (ok == true)
                    {
                        $(this).closest('td').next('td').find('.detailCommentTxtBox').prop('disabled', true).val('');
                    }
                    else
                    {
                        $(this).val('--');
                    }
                }
                else
                {
                    $(this).closest('td').next('td').find('.detailCommentTxtBox').prop('disabled', false);
                }
            })
    });

</script>