﻿@using WTSite.Models;
@model List<WTSite.Models.prioritization>

@{
    ViewBag.Title = "Add New Prioritization";
    Layout = "~/Views/Shared/_FacilityLayout.cshtml";

}

<h2>Add Prioritization</h2>

@using (Html.BeginForm("AddPrioritization", "Prioritizations", FormMethod.Post, new { id = "submitNewPrioritizationForm" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th><strong>Rank</strong></th>
            <th><strong>Prioritization Name</strong></th>
        </tr>



        @for (var i = 0; i < Model.Count - 1; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].priority_rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].priority_name)
                    @Html.HiddenFor(modelItem => Model[i].prioritization_id)
                    @Html.HiddenFor(modelItem => Model[i].priority_name)
                    @Html.HiddenFor(modelItem => Model[i].childcare_facility_id)
                </td>
            </tr>
        }
        @if (Model.Count < 16)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model[Model.Count - 1].priority_rank)
            </td>
            <td>
                @Html.HiddenFor(modelItem => Model[Model.Count - 1].priority_rank)
                @Html.EditorFor(modelItem => Model[Model.Count - 1].priority_name, new { htmlAttributes = new { @class = "form-control input", @style = "max-width:378px" } })
                @Html.HiddenFor(modelItem => Model[Model.Count - 1].prioritization_id)
                @Html.HiddenFor(modelItem => Model[Model.Count - 1].childcare_facility_id)
            </td>
        </tr>
        }
        

    </table>

    if (Model.Count > 15)
    {
        <p>You have reached the maximum amount of prioritizations allowed.</p>
        @Html.ActionLink("Cancel", "PrioritizationsIndex", new { id = ViewBag.FacilityId }, new { @class = "btn-sm btn-secondary" })
    }
    else
    {
        <input type="submit" value="Add Prioritization" class="btn-sm btn-primary"/> @Html.ActionLink("Cancel", "PrioritizationsIndex", new { id = ViewBag.FacilityId }, new { @class = "btn-sm btn-secondary" })
    }

}