﻿@using WTSite.Models;
@model List<WTSite.Models.prioritization>

@{
    ViewBag.Title = "Prioritizations";
    //ViewBag.FacilityName = Model.childcare_facility_name;
    Layout = "~/Views/Shared/_FacilityLayout.cshtml";

}

<h2>Prioritizations</h2>

@if (Model.Count == 0)
{
    <p>No prioritizations found.</p>
}
else
{
    using (Html.BeginForm("Edit", "Prioritizations", FormMethod.Post, new { id = "submitChangesForPrioritizationsForm" }))
    {
        @Html.AntiForgeryToken()
        <table class="table">
            <tr>
                <th><strong>Rank</strong></th>
                <th><strong>Prioritization Name</strong></th>
                <th><strong>Move Rank</strong></th>
                <th><strong></strong></th>
            </tr>

            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].priority_rank)
                        @Html.HiddenFor(modelItem => Model[i].priority_rank)

                    </td>
                    <td>
                        @Html.EditorFor(model => Model[i].priority_name, new { htmlAttributes = new { @class = "form-control input", @style = "max-width:378px" } })
                        @Html.HiddenFor(modelItem => Model[i].prioritization_id)
                        @Html.HiddenFor(modelItem => Model[i].childcare_facility_id)
                    </td>
                    <td>
                        <a href="@Url.Action("MovePrioritizationUp", "Prioritizations", new { id = Model[i].prioritization_id })" style="display: inline-block;"><i class="fa fa-arrow-circle-up fa-lg"></i></a>
                        <a href="@Url.Action("MovePrioritizationDown", "Prioritizations", new { id = Model[i].prioritization_id })" style="display: inline-block;"><i class="fa fa-arrow-circle-down fa-lg"></i></a>
                    </td>
                    <td>
                        <span onclick="return confirm('Are you sure you want to delete this?')">@Html.ActionLink("Delete", "DeletePrioritization", new { id = Model[i].prioritization_id }, new { @class = "btn-xs btn-danger" })</span>
                    </td>
                </tr>
            }
        </table>

        <input type="submit" value="Save Changes" class="btn-sm btn-primary" />
    }
}

@if (Model.Count < 15)
{
    <p><br />
        @Html.ActionLink("Create New Prioritization", "CreatePrioritization", new { id = ViewBag.FacilityId }, new { @class = "btn-sm btn-info" })
    </p>
}