﻿<link href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/theme-default.min.css"
      rel="stylesheet" type="text/css" />

@model WTSite.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("Facility"))
    {
        Layout = "~/Views/Shared/_FacilityLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", data_validation = "required" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            <font style="font-size:8pt;font-weight:bold;color:#808080;">Password must contain: at least <span id="length">6 or more characters</span>, <span id="capital">1 capitalized letter</span>, <span id="number">1 number</span>, <em>and</em> <span id="spchar">1 special character</span>.</font>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", data_validation = "confirmation required", data_validation_confirm = "NewPassword", maxlength = "50", data_validation_error_msg = "Passwords do not match." })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change Password" class="btn btn-default" />
        </div>
    </div>
}
<script src="~/Content/jqueryui/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.43/jquery.form-validator.min.js"></script>
<script>
    $.validate({
        modules: 'security'
    });
    //complex password validator    
        $('#NewPassword').keyup(function() {
            var pswd = $(this).val();
            var lengthIsValid, letterIsValid, charIsValid, numIsValid, capIsvalid;
            //validate length
            if (pswd.length < 6) {
                $('#length').removeClass('validpass').addClass('invalidpass');
                lengthIsValid = false;
            }
            else {
                $('#length').removeClass('invalidpass').addClass('validpass');
                lengthIsValid = true;
            }
            //validate one letter
            if (!pswd.match(/[A-z]/)) {
                $('#letter').removeClass('validpass').addClass('invalidpass');
                letterIsValid = false;
            }
            else {
                $('#letter').removeClass('invalidpass').addClass('validpass');
                letterIsValid = true;
            }
            //validate one capital letter
            if (!pswd.match(/[A-Z]/)) {
                $('#capital').removeClass('validpass').addClass('invalidpass');
                capIsvalid = false;
            }
            else {
                $('#capital').removeClass('invalidpass').addClass('validpass');
                capIsvalid = true;
            }
            //validate one number
            if (!pswd.match(/\d/)) {
                $('#number').removeClass('validpass').addClass('invalidpass');
                numIsValid = false;
            }
            else {
                $('#number').removeClass('invalidpass').addClass('validpass');
                numIsValid = true;
            }
            //validate special character
            if (!pswd.match(/[$&"+\'\?,:_;=\\@@#|<>.^*()%!\/-]/)) {
                $('#spchar').removeClass('validpass').addClass('invalidpass');
                charIsValid = false;
            }
            else {
                $('#spchar').removeClass('invalidpass').addClass('validpass');
                charIsValid = true;
            }
            if (lengthIsValid && letterIsValid && charIsValid && numIsValid && capIsvalid)
            {
                var allValid = true;
                $('#NewPassword').removeClass('error').addClass('valid');
            }
            else
            { $('#NewPassword').addClass('error').removeClass('valid'); }
        }).focus(function () {

        }).blur(function () {

        });





</script>