﻿<link href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/theme-default.min.css"
      rel="stylesheet" type="text/css" />

@model WTSite.Models.ChangeEmailVM
@{
    ViewBag.Title = "Change Email";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("Facility"))
    {
        Layout = "~/Views/Shared/_FacilityLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>@ViewBag.Title</h2>
<p class="text-warning">@ViewBag.StatusMessage</p>
@using (Html.BeginForm("ChangeEmail", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-3 control-label">Current Email Address</label>
        <div class="col-md-9">
            <input class="form-control input-sm" style="max-width:250px;" disabled="disabled" value=@User.Identity.Name />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewEmail, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.NewEmail, new { htmlAttributes = new { @class = "form-control input-sm", @style = "max-width:250px", data_validation = "email", maxlength = "50" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmNewEmail, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.ConfirmNewEmail, new { htmlAttributes = new { @class = "form-control input-sm", @style = "max-width:250px", data_validation = "confirmation required", data_validation_confirm = "NewEmail", maxlength = "50", data_validation_error_msg = "Confirm your email address.", Value="" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <p style="font-size: 11px;font-weight:bold;">NOTE: By changing your email address, you will be required to log in with your updated address.</p>
            <span onclick="return confirm('Changing your email will log you out. You must log in again after successfully changing your email address.')"><input type="submit" value="Change Email" class="btn btn-default" /></span>
</div>
    </div>
}
<script>
    $.validate({
        modules: 'security'
    });
    //email input to lowercase for proper validation
    $('#NewEmail, #ConfirmNewEmail').blur(function () {
        var email = $(this).val().toLowerCase();
        $(this).val(email);
        $(this).validate();
    });
</script>