﻿
@{
   Layout = "~/Views/Shared/_LayoutStandard.cshtml";
}

@using Microsoft.AspNet.Identity
    
    
    <header id="otp" class="headertop">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Looking for a licensed child care provider in your area?</h1>
                <hr>
                <p>Our mission is to provide you an easy way to search for licensed child care in your community and allow you to better plan for your future by understanding when your preferred child care provider will be able to offer you a space in their program.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">LEARN MORE</a>&nbsp;&nbsp;&nbsp;
                <a href="@Url.Action("SearchIndex", "Search")" class="btn btn-default btn-xl">SEARCH</a>
            </div>
        </div>
    </header>


    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">How Does it Work?</h2>
                    <hr class="light">
                    <p class="text">This website provides estimated enrollment dates from  registered licensed child care facilities providing care to children ages six and under. These projected enrollment dates are provided after you search using a child's actual or expected date of birth and preferred location of care. The dates are calculated using the classroom roster and waitlist information provided by the registered child care facility.</p>
                    <p class="text">For privacy concerns, please note that the searches using a child's actual or expected date of birth are not stored in the system. The birth date is required so a query may be ran to determine which classroom the child may be eligible to enter.</p>
                    <a href="@Url.Action("SearchIndex", "Search")" class="btn btn-default btn-xl">SEARCH</a>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-dollar wow bounceIn text-primary"></i>
                        <h3>Free to Use</h3>
                        <p class="text-muted">Connecting you to quality care is priceless.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-lock wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Secure Information</h3>
                        <p class="text-muted">Personal information is not stored so you can search with confidence.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-flash wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Fast and Easy</h3>
                        <p class="text-muted">Find care efficiently with our online tool.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">Creating access to quality care to enrich communities everywhere.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-primary" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h2 class="section-heading text-center">Frequently Asked Questions</h2>
                    <hr class="light">
                    <p class="text">
                        <strong>Select a question to view the answer</strong>
                        <ul>
                            <li class="faq"><span class="question">How accurate is the estimated enrollment date I am given?</span><span class="answer"><br />It is up to the childcare facilities to keep their roster and waitlist information up-to-date so you get the best results possible, however, it’s always best to call your preferred childcare facility to verify enrollment information.</span></li>
                            <li class="faq"><span class="question">Why do I see today’s date listed as the date I can enroll my child in my preferred facility?</span><span class="answer"><br />That would indicate that a space is available immediately. Contact the childcare facility to verify.</span></li>
                            <li class="faq"><span class="question">What if my child is not born yet? Can I still search for care?</span><span class="answer"><br />Absolutely! Simply enter in the projected birth date instead of the actual birth date to see when childcare facilities might be able to offer you space in the program. Many facilities allow you to enroll your child before they’re born so you can secure a spot in your preferred program. </span></li>
                            <li class="faq"><span class="question">Can I search for care for multiple children at one time?</span><span class="answer"><br />Unfortunately, no. You may search for care for one child at a time so that the system can accurately show you enrollment options based on their age.</span></li>
                            <li class="faq"><span class="question">How does the system calculate projected enrollment dates?</span><span class="answer"><br />It’s pretty simple and highly complex all at once. Childcare facilities enter their classroom parameters (age of the children accepted in the room, for instance 2 months to 12 months, and how many children can be in each room, for instance 8 spaces) and roster details (age of each child enrolled). If they have a waitlist, they also add that detail to include the child’s birth date. When you search for care, you’re given a date that is calculated based on when a space opens from a child “aging out” of the room on the roster and waitlist (i.e. turns 13 months old).</span></li>
                            <li class="faq"><span class="question">If it gives me an enrollment date simply based on when a child “ages out” of a room, how can it be accurate because children leave due to other factors (moving, etc.)?</span><span class="answer"><br />The system allows childcare facilities to enter an “override date.” This date will be used for calculations instead of the child’s age so if they’re aware someone is moving or leaving for another reason, they can simply enter the correct date in that field.</span></li>
                            <li class="faq"><span class="question">What if I’m simply searching for a small, in-home facility? Can I still use this system?</span><span class="answer"><br />Definitely. The system is versatile and works for childcare providers who can care for one child as well as 100+ children.</span></li>
                            <li class="faq"><span class="question">How can I be sure each facility has a license to operate?</span><span class="answer"><br />This site is meant to connect those who are seeking childcare with quality childcare providers. As such, each childcare facility who requests an account is vetted by the system administrator. Their operating license is verified and only then will they be allowed to create an account and show up on your search results.</span></li>
                            <li class="faq"><span class="question">How up-to-date is the estimated enrollment date?</span><span class="answer"><br />The system pulls results on a live basis each time you search. Childcare facilities are asked to update their information as often as it changes so that you always see the latest information.</span></li>
                        </ul>
                        <strong>Resources</strong>
                        <ul>
                            <li class="faq"><a style="color:white;" href="~/Documents/wt_publicusermanual.pdf" target="_blank">Public User Manual (.pdf)</a></li>
                            <li class="faq"><a style="color:white;" href="~/Documents/wt_facilitymanual.pdf" target="_blank">Facility User Manual (.pdf)</a></li>
                        </ul>
                   </p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/HjaT6Z4ymsc" frameborder="0" allowfullscreen width="560" height="315"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Start Your Search Now</h2>
                <a href="@Url.Action("SearchIndex", "Search")" class="btn btn-default btn-xl wow tada">SEARCH</a>
            </div>
        </div>
    </aside>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Need us? We're here.</h2>
                    <hr class="primary">
                    <p>Reach out to us and we'll get back to you as soon as possible. If you're a licensed child care facility and interested in being part of our mission, please <a href="Account/Register">register</a> and we will reach out to you. We look forward to working with you.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>907.830.1409</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:info@waitlisttransparency.com">info@waitlisttransparency.com</a></p>
                </div>
            </div>
        </div>
    </section>

       
    <script>
        $('.faq').click(function () {
            if ($(this).find('.answer').is(':visible'))
            {
                $('.answer').hide('slideUp');
                $(this).find('.question').removeClass('selectedQuestion');
            }
            else {
                $('.question').removeClass('selectedQuestion');
                $('.answer').hide('slideUp');
                $(this).find('.answer').show('slideDown');
                $(this).find('.question').addClass('selectedQuestion');
            }
        });
    </script>

